## Deliverable 3. Create a Travel Itinerary Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [13]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("weather_data/vacation_search.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Hilo,US,68.00,19.7297,-155.0900,Hilo Hawaiian Hotel
1,9,Mingshui,CN,61.00,36.7167,117.5000,Grace Inn Zhangqiu Station Avenue Branch
2,10,Payo,ID,72.46,-3.7508,103.6372,Mess keban agung
3,11,Wuxue,CN,60.93,29.8506,115.5525,Wuxue Station Hostel
4,13,Carnarvon,AU,73.40,-24.8667,113.6333,Hospitality Carnarvon

In [20]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template =  """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [16]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)


fig
# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [24]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Masterton"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Masterton"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Hambantota"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Muros"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Bredasdorp"]
vacation_stop3

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
42,118,Bredasdorp,ZA,62.6,-34.5322,20.0403,Bredasdorp Country Manor

In [25]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,
                         vacation_stop2, vacation_stop3,
                         vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,654,Masterton,NZ,63.0,-40.9597,175.6575,Copthorne Hotel & Resort Solway Park Wairarapa
1,23,Hambantota,LK,73.4,6.1241,81.1185,Bungalow 63
2,164,Muros,ES,60.8,42.7762,-9.0603,Apartment Av. Castelao
3,118,Bredasdorp,ZA,62.6,-34.5322,20.0403,Bredasdorp Country Manor
4,654,Masterton,NZ,63.0,-40.9597,175.6575,Copthorne Hotel & Resort Solway Park Wairarapa

In [27]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))